<footer>
    <div class="footer--information">
        <div class="footer--information--socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="footer--information--brand">&copy; StayCation Private Limited</div>
        <div class="footer--information--links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>