<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
        <form action="/listings" method="POST" class="needs-validation" novalidate>
            <br>
            <h3>Create a New Listing</h3><br>
            <div>
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required>
                <div class="valid-feedback">Looks Good</div>
            </div>
            <br>
            <div>
                <label for="description" class="form-label">Description</label>
                <textarea  name="listing[description]" class="form-control" required></textarea>
                
            </div>
            <br>
            <div>
                <label for="image" class="form-label">Image URL</label>
                <input type="text" name="listing[image]" placeholder="enter the image URL" class="form-control">
            </div>        
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" placeholder="enter price" class="form-control" required>
                    <div class="invalid-feeback">Enter valid Price</div>
                </div>
                <br>
                <div class="col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="enter country" class="form-control" required>
                    <div class="invalid-feeback">Enter valid Country</div>
                </div>
            </div>

            <br>
            <div>
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="enter location" class="form-control" required>
                <div class="invalid-feeback">Enter valid Location</div>
            </div>
         

            <br><br>
            <button class="btn btn-dark add-btn" >Add</button>
        </form>
        </div>
    </div>

</body>
