body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: rgb(207, 49, 49);
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* Footer */
.footer--information--links a{
    text-decoration: none;
    color: #222222;
}
.footer--information--links a:hover{
    text-decoration: underline;
}
.footer--information--links, .footer--information--socials, .footer--information--brand{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer--information--socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.footer--information{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: whitesmoke;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    
}

/* Cards */

.listing--card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 0.8rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing--link{
    text-decoration: none;
}

/* Card-Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    color: rgb(207, 49, 49) !important;
    border: none !important;
}

/* Edit Page */
.edit-btn ,.delete-btn{
    color: rgb(207, 49, 49) !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 30vh;
    
}
.btns{
    display: flex;
}